.pokecard{
    width: 100%;
    max-width: 300px;
    border-radius: 0.8rem;
    border: 0.5rem solid currentColor;
    cursor: pointer;
    transition: transform 150ms ease;
}

.pokecard:hover{
    transform: scale(1.05);
}


.header_pokedex_img{
    position: absolute;
}

.pokecard_header{
    aspect-ratio: 1.5;
    position: relative;
    background-color: #ccc;
    background-color: currentColor;
}

.pokecard_img{
    position: absolute;
    width: 60%;
    bottom: -3rem;
    left: 50%;
    transform: translateX(-50%);

}

.pokecard_body {
    padding-top: 3rem;
}

.pokecard_name{
    text-align: center;
    text-transform: capitalize;
}

.pokecard_types{
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: black;
}

.pokecard_types_item{
    text-transform: capitalize;
    position: relative;
}

.pokecard_types_item::before{
    content: '/';
    position: absolute;
    left: -1rem;
}

.pokecard_types_item:first-child::before{
    content: '';
}

.pokecard_stats{
    padding: 0.5rem 0.5rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 0.2rem;
    justify-items: center;
}

.pokecard_stats_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.pokecard_stats_label{
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 0.6rem;
    text-align: center;
    color: black;
}

.pokecard_stats_value{
    font-size: 1.1rem;
    font-weight: 600;
}

/* Cards background */
.normal{
    color: #735259;
}

.bg-normal{
background: linear-gradient(180deg, rgba(115,82,89,1) 24.28%, rgba(188,107,124,1) 74.77%, rgba(124,63,76,1) 100%);
}

.fire{
    color: #E75C35;
}

.bg-fire{
background: linear-gradient(180deg, rgba(230,144,30,1) 0%, rgba(231,92,53,1) 100%);
}

.water{
    color:#1479FB;
}

.bg-water{
    background: linear-gradient(180deg, rgba(19,50,88,1) 0%, rgba(20,121,251,1) 44.32%, rgba(130,178,241,1) 100%);
}

.grass{
    color: #416460;
}

.bg-grass{
    background: linear-gradient(180deg, rgba(126,198,197,1) 0%, rgba(171,218,198,1) 47.92%, rgba(202,224,153,1) 100%);
}

.electric{
    color: #0C1395;
}

.bg-electric{
    background: linear-gradient(180deg, rgba(12,19,149,1) 0%, rgba(43,49,155,1) 23.44%, rgba(112,117,217,1) 58.33%);
}

.bug{
    color: #4AB648;
}

.bg-bug{
    background: linear-gradient(180deg, rgba(98,219,96,1) 12.33%, rgba(59,176,57,1) 36.98%, rgba(170,255,168,1) 100%);
}

.poison{
    color: #5B3184;
}

.bg-poison{
    background: linear-gradient(180deg, rgba(91,49,132,1) 0%, rgba(165,100,227,1) 32.66%, rgba(206,155,255,1) 57.91%);
}

.ground{
    color: #654008;
}

.bg-ground{
    background: linear-gradient(180deg, rgba(101,64,8,1) 0%, rgba(137,92,26,1) 23.44%, rgba(214,150,56,1) 58.33%);
}

.magic{
    color: #971B45;
}

.bg-magic{
    background: linear-gradient(180deg, rgba(151,27,69,1) 0%, rgba(194,56,103,1) 23.44%, rgba(205,125,152,1) 58.33%);
}

.dragon{
    color: #478A93;
}

.bg-dragon{
    background: linear-gradient(180deg, rgba(71,138,147,1) 0%, rgba(86,164,174,1) 23.44%, rgba(162,190,193,1) 58.33%);
}

.rock{
    color: #7E7E7E;
}

.bg-rock{
    background: linear-gradient(180deg, rgba(126,126,126,1) 0%, rgba(141,141,148,1) 27.25%, rgba(211,211,211,1) 57.91%);
}

.dark {
    color: #030706;
}

.bg-dark{
    background: linear-gradient(180deg, rgba(13,18,17,1) 0%, rgba(90,94,93,1) 27.25%, rgba(90,94,93,1) 57.91%);
}

.ghost{
    color: #323569;
}

.bg-ghost{
    background: linear-gradient(180deg, rgba(50,53,105,1) 0%, rgba(69,74,168,1) 27.25%, rgba(120,125,218,1) 57.91%);
}

.fairy{
    color: #8010cb;
}

.bg-fairy{
    background: linear-gradient(180deg, rgba(128,16,203,1) 0%, rgba(141,64,193,1) 27.25%, rgba(163,93,209,1) 57.91%);
}